[submodule "RR/assets"]
	path = RR/assets
	url = https://github.com/ILW8/regression-rumble-private-assets
[submodule "KAYS/static"]
	path = KAYS/static
	url = https://github.com/shdewz/kays2023-stream-overlay.git
[submodule "3wc-stream-overlay"]
	path = 3wc_2024/static
	url = https://github.com/shdewz/3wc-stream-overlay.git
[submodule "5WC2024/static/5WC2024"]
	path = 5WC2024/static/5WC2024
	url = https://github.com/5DigitWorldCup/5WC2024
