@import url('../_shared/common.css');

:root {
  --border-width: 0px;
  --border-color: none;
}

body,
html {
  padding: 0;
  margin: 0;
  /* overflow-y: hidden; */
  font-family: 'Neureal';
}

.main {
  position: relative;
  width: 1920px;
  height: 1080px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: var(--dark);
  z-index: 0;
}

/* -------------- */
/* CHAT CONTAINER */
/* -------------- */

.chat-container {
  width: 607px;
  height: 168px;
  background-image: url('../_shared/assets/map_info_background.png');
  z-index: 100;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.4));
  transition: opacity 300ms ease;
}

.chat-content {
  --padding: 12px;
  padding: var(--padding);
  width: calc(100% - 2 * var(--padding));
  height: calc(100% - 2 * var(--padding));
  color: var(--dark);
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
}

#chat {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  gap: 2px;
  line-height: 1.4rem;
}

.chat-message {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 1.3rem;
}

.chat-message:nth-of-type(n + 9) {
  display: none;
}

.chat-message.bot {
  background-color: var(--accent);
  padding: 2px 0;
  margin: 2px 0;
  color: var(--light);
}

.chat-name {
  font-weight: 700;
  color: var(--unknown-chat);
  white-space: nowrap;
}

.red > .chat-name {
  color: var(--red-chat);
}

.blue > .chat-name {
  color: var(--blue-chat);
}

.bot > .chat-name {
  color: var(--light);
}

.chat-name::after {
  content: ':';
  margin-right: 4px;
}

.chat-time {
  display: flex;
  justify-content: center;
  width: 40px;
  min-width: 40px;
  font-size: 1rem;
  text-align: center;
  color: var(--text-dark);
  transform: translateY(1px);
}
