@font-face {
    font-family: 'Neureal';
    src: url('../_shared/fonts/Neureal-Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Neureal Mono';
    src: url('../_shared/fonts/Neureal-Mono.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Mont';
    src: url('../_shared/fonts/Mont-SemiBold.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Mont';
    src: url('../_shared/fonts/Mont-Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'Din';
    src: url('../_shared/fonts/D-DIN.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Din';
    src: url('../_shared/fonts/D-DIN-Italic.otf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Din';
    src: url('../_shared/fonts/D-DIN-Bold.otf');
    font-weight: 700;
}

:root {
    --accent: #00736b;
    --accent-light: #3edacf;
    --secondary: #d46b08;
    --dark: #111111;
    --light: #fcfcfc;
    --accent-mod-nm: #759de7;
    --accent-mod-hd: #eec875;
    --accent-mod-hr: #e97777;
    --accent-mod-dt: #ad73db;
    --accent-mod-fm: #85e285;
    --accent-mod-tb: #61cfc1;
    --red: #EA7500;
    --blue: #008078;

    font-family: 'Neureal Mono';
}

.stripe-text {
  background-image: repeating-linear-gradient(
    20deg,
    currentColor 0 1px,
    transparent 1px 2px
  );

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
